<% include ./partials/header %>

    <div class="homepage-back">
        <div class="main container text-center home">
            <h1>Where To Today?</h1>
            <form action='/search' method="POST">
                <div class="ui input massive">
                    <input type="text" name="locationSearch" placeholder="Location" />
                </div>
                <button class="ui button green massive">Find!</button>
            </form>
        </div>
    </div>

<% include ./partials/footer %>